:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #252A33;
  --color-bg-base: #222222;
  --color-bg-surface: #373E4D;
  --color-bg-highlight: #40495A;
  --color-fg-shade: #768CB2;
  --color-fg-base: #A6B4CD;
  --color-fg-surface: #D6DCE8;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #4D4D4D;
  --color-primary-base: #999999;
  --color-primary-fg: #E6E6E6;
  --color-secondary-bg: #6F5235;
  --color-secondary-base: #C4A484;
  --color-secondary-fg: #F9F6F3;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: quicksand;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1000px;
  --surface-shadow: 3px 3px 20px #4D4D4D;
  --surface-borderRadius: 28px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
